<container >
    <row class="footer">

        <columns small="6" large="6" >
            <row>
                <columns small="1" large="1" valign="middle">
                    <img  src="{{root}}/assets/img/kayak_images/logo_circle.png" alt="k">
                </columns>
                <columns small="5" large="5" valign="middle">
                    <p style="color:white; font-size: 12px; margin: 0;padding:0; padding-top: 10px;padding-left: 10px; font-weight: 500;">Download the app</p>
                    <p style="color:white;font-size: 10px;padding-left: 10px;">Cheap flights, hotels & more</p>
                </columns>
            </row>
        </columns>


        <columns small="6" large="6" >
            <row>
                <columns small="3" large="3" valign="middle">
                    <img  class="store_logos" src="{{root}}/assets/img/kayak_images/appstore.png" alt="appstore">
                </columns>
                <columns small="3" large="3" valign="middle">
                    <img   class="store_logos" src="{{root}}/assets/img/kayak_images/playstore.png" alt="playstore">
                </columns>
            </row>
        </columns>
       
    </row>

    
</container>