
<container style="background: #14191E;background-color: #14191E">
    <row>
        <columns >
           <p class="text-center">
                <a style="color:white; font-size: 12px;padding: 0 2px;" href="#">Unsubscribe</a>
                <a style="color:white; font-size: 12px;padding: 0 2px;" href="#">Email Preferences</a>
                <a style="color:white; font-size: 12px;padding: 0 2px;" href="#">Feedback</a>
                <a style="color:white; font-size: 12px;padding: 0 2px;" href="#">Privacy Policy</a>
           </p> 
        </columns>

    </row>
</container>

<container style="background: #14191E;background-color: #14191E; margin-top: -40px">
    <row>
        <columns>
            <p style="color: grey; font-size: 10px;font-weight: 600;">
                Prices, savings and availability may vary. Additional restrictions may apply. Savings are not ensured. KAYAK does not sell tickets but provides a price comparison service. The deals in this newsletter were current at the time this email was published and subject to change based on data, time and availability, which is extremely limited. KAYAK accepts no liability for inaccuracies arising from this or any other cause, including, but not limited to, expiration of deals and typograpical error, we are not responsible for any loss, damages, or injury incurred by the dealsherein. Unless otherwise specified, hotel prices are per night based on double-occupancy rooms and do not include taxes and fees. Unless specified to be one-way (ow) or otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and fees. If in doubt, always consult the agent or company supplying the tickets. <br>
                Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not baggage fees or other fees charged directly by the airline for the included flight. <br>
                Cruise and car rental prices do not include taxes and fees. Please check the provider's webpage or contact the provider for additional details.
            </p>

        </columns>
    </row>

    <row>
        <columns>
            <p style="color: lightgrey; font-size: 10px;font-weight: 600; margin: 0; padding: 0" >	&copy; 2019 KAYAK Software Corporation</p>
            <p style="color: lightgrey; font-size: 10px;font-weight: 600;margin: 0; padding: 0">7 Market Street Stamford, CT 06902-5810 US</p>
        </columns>
    </row>

</container>