<container class="header_background_black">
    <row class="header_black">
        <columns small="9" large="9" valign="middle">
            <img style="width: 128px" class="logo_black" src="{{root}}assets/img/kayak_images/logo_orange.png" alt="kayak_logo_orange">
        </columns>
        <columns small="3" large="3" valign="middle">
            <img style="width:32px; display: inline-block" src="{{root}}assets/img/kayak_images/facebook.png" alt="facebook">
            <img style="width:32px; display: inline-block" src="{{root}}assets/img/kayak_images/twitter.png" alt="twitter">
            <img style="width:32px; display: inline-block" src="{{root}}assets/img/kayak_images/instagram.png" alt="instagram">
            
        </columns>
    </row>


    <row class="sub-header" style="background: #14191E;background-color: #14191E; border-top: 1px solid #334755; border-bottom: 1px solid #334755">
        <columns></columns>
        <columns style="width: 90%; padding-left: 30px">
            <row>
                <columns >
                    <a href="#" class="text-center">
                        <img class="float-left" src="{{root}}assets/img/kayak_images/airplane.png" alt="airplane">    
                        Flights
                    </a> 
                </columns>
                <columns class="show-for-large" style="width: 2%">
                    <span style="display: block; height: 20px; width: 1px; background: #334755; background-color: #334755" ></span>
                </columns>
                <columns>
                    <a href="#" class="text-center">
                        <img class="float-left" src="{{root}}assets/img/kayak_images/bed.png" alt="bed">    
                        Hotels
                    </a>
                </columns>
                <columns  class="show-for-large" style="width: 2%">
                    <span style="display: block; height: 20px; width: 1px; background: #334755; background-color: #334755" ></span>
                </columns>
                <columns>
                    <a href="#" class="text-center">
                        <img class="float-left" src="{{root}}assets/img/kayak_images/car.png" alt="car">    
                        Cars
                    </a>
                </columns>
                <columns class="show-for-large" style="width: 2%">
                    <span style="display: block; height: 20px; width: 1px; background: #334755; background-color: #334755" ></span>
                </columns>
                <columns class="show-for-large">
                    <a href="#" class="text-center">
                        <img class="float-left" src="{{root}}assets/img/kayak_images/umbrella.png" alt="umbrella">    
                        Packages
                    </a>
                </columns>
            </row>
        </columns>

        
        <columns></columns>
    </row>

  
</container>